<div class="container-fluid">

  <div class="row justify-content-center">
    <mat-card class="col-md-4">
      <mat-toolbar class="teal white">
    <span>Register</span>
  </mat-toolbar>
  <div class="justify-content-md-center mt-2">
    <mat-form-field hintLabel="Max 10 characters" class="mt-3"> 
      <input matInput placeholder="Name" [formControl]="name"/>
      <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="w-100"></div>

    <mat-form-field hintLabel="between 5 and 10 characters. This would be used to look you up" class="mt-3"> 
      <input matInput placeholder="Username" [formControl]="username" maxlength="10"/>
      <span matPrefix>@</span>
      <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="w-100"></div>

    <mat-form-field hintLabel="e.g. me@example.com" class="mt-3"> 
      <input matInput placeholder="Email" [formControl]="email"/>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="w-100"></div>

    <mat-form-field hintLabel="Minimum password length is 8 characters" class="mt-3"> 
      <input type="password" matInput placeholder="Password" [formControl]="password"/>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="w-100"></div>

    <mat-form-field hintLabel="" class="mt-3"> 
      <mat-select [formControl]="accountType" placeholder="Choose Account Type">
        <mat-option>--Choose Account Type--</mat-option>
        <mat-option value="2">Reviewer</mat-option>
        <mat-option value="3">Author</mat-option>
      </mat-select>
      <mat-error *ngIf="accountType.invalid">You must choose one</mat-error>
    </mat-form-field>
    <div class="w-100"></div>
    <hr>

    <button mdbBtn class="grey darken-1" (click)="submitUser()">Create</button>
      

  </div> 
    </mat-card>
  </div>
  

   
      
    
</div>
