<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey darken-4" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand font-weight-bold" href="#"><mdb-icon fab icon="pied-piper-hat"></mdb-icon> STELLR</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto font-weight-normal">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/conferences']" mdbWavesEffect><mdb-icon fas icon="brain"></mdb-icon> Conferences</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/papers']" mdbWavesEffect><mdb-icon fas icon="file"></mdb-icon> Papers</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="auth.tokenInvalid()">
      <li class="nav-item">
          <a class="nav-link waves-light text-light" [routerLink]="['/login']" mdbWavesEffect><mdb-icon fas icon="sign-in-alt"></mdb-icon>Sign-In</a>
      </li>
      <li class="nav-item grey darken-2 font-weight-bold">
        <a class="nav-link waves-light teal accent-4" [routerLink]="['/register']" mdbWavesEffect>Create Account</a>
      </li>
    </ul>

      <!-- Dropdown -->
    <ul class="navbar-nav ml-auto" *ngIf="!auth.tokenInvalid()">

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" [routerLink]="['/profile']">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
