<div class="container">
  <div class="row">
    <div class="jumbotron text-center hoverable p-4">

      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-12 text-md-left ml-3 mt-3">
    
          <!-- Excerpt -->
          <a href="#!" class="grey-text">
            <h6 class="h6 pb-1"><i class="fas fa-file pr-1"></i> Paper</h6>
          </a>
    
          <h4 class="h4 mb-4">{{name}}</h4>
    
          <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
          <p class="font-weight-normal">by <a><strong>{{author}}</strong></a></p>
    
          <button mdbBtn class="grey darken-1" mdbWavesEffect>Download</button>
    
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    
    </div>
    <!-- News jumbotron -->

<div class="w-100"></div>

<div class="jumbotron col-md-12">
  <div class="container">
    <div class="row">
      <!-- Grid column -->
      <div class="col">
        <!-- Material input -->
        <div class="md-form mt-2">
          <textarea mdbInput type="text" id="comment" class="md-textarea form-control" [formControl]="newComment"></textarea>
          <label for="comment">Add Comment</label>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col">
        <!-- Material input -->
        <div class="md-form mt-3">
          <button mdbBtn class="grey darken-1" (click)="submitComment()">Add Comment</button>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <h3 class="">Comments</h3>
    <blockquote class="blockquote mb-2" *ngFor="let comment of comments">
      <p>{{comment.comment}}</p>
      <footer class="blockquote-footer">by <cite title="Source Title">{{comment.addedByName}}</cite></footer>
    </blockquote>
  </div>
</div>
  </div>
</div>



